body{
    background-color: #265A8D ;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
     font-size: medium;
    }
  h1{
    color:#D9712E; 
    background-color: #265A8D;
     text-align:center; 
     font-family:  'Times New Roman', Times, serif;
}
  h2{
    color:#346434; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  h3{
    color:white; 
    font-family: Arial, Helvetica, sans-serif ;
}
  p{
    color:white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
    text-align: left;
    align-self: start;
    padding: 3px;
    }
  blockquote{
    color:#AE6A3E
}
  ul{
    color:black; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  a:link{
    color:#59aa59
}
  a:visited{
    color:#3b8ee0
}
  a:hover{
    color:#D9712E
}
  .thumbnailleft{
     float: left; 
     padding-right: 10px
    }
.thumbnailright{ 
    float: right; 
    padding-left:10px
}
header{
    width: 897px;
    background-color: #265A8D;
    border: 3px solid #D9712E;
}
nav{
    width: 30%;
    float: right;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}
nav ul li{
    display: block;
    border: 1px solid #D9712E;
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
}
section{
    width:897px;
    background-image: url(Images/backimage.jpg);
    background-repeat: repeat-y;
    align-self: center;
    border: 3px solid #D9712E;
}
footer{
    background-color: #265A8D;
    padding-top: 0px;
    border: 3px solid #D9712E;
    width: 897px;
}
.thumbnailcenter{
    align-items: center;
}